// VARIABLES
// background colors
$main-background: hsl(218, 28%, 13%);
$secondary-background: hsl(217, 28%, 15%);
$tertiary-background: hsl(219, 30%, 18%);
$footer-background: hsl(216, 53%, 9%);

$white: hsl(0, 0%, 100%);
$cyan: hsl(176, 68%, 64%);
$blue: hsl(198, 60%, 50%);

// font
$primary-font: 'Open Sans', sans-serif;
$secondary-font: 'Raleway', sans-serif;
// width

$website-width: 1440px;
